<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.mall.mapper.ProductExtMapper">
  <resultMap id="BaseResultMap" type="com.henu.mall.pojo.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="main_image" jdbcType="VARCHAR" property="mainImage" />
    <result column="sub_images" jdbcType="VARCHAR" property="subImages" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_new" jdbcType="INTEGER" property="isNew" />
    <result column="is_hot" jdbcType="INTEGER" property="isHot" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, name, subtitle, main_image, sub_images, detail, price, stock, status,
    is_new, is_hot, create_time, update_time
  </sql>

  <select id="selectAllByCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_product
    where status != 3
    <if test="categoryIdSet.size() > 0">
      and category_id in
      <foreach collection="categoryIdSet" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="query !=null and query !=''">
      and concat(`name`,`subtitle`,`detail`) like concat (concat ('%',#{query},'%'))
    </if>
    order by create_time desc
  </select>

  <select id="selectByCategoryIdSet" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_product
    where status = 1
    <if test="categoryIdSet.size() > 0">
      and category_id in
      <foreach collection="categoryIdSet" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    order by create_time desc
  </select>
  <select id="selectByProductIdSet" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_product
    <where>
        <if test="productIdSet.size() > 0">
             id in
            <foreach collection="productIdSet" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </where>
  </select>

  <select id="selectByCondition" parameterType="com.henu.mall.request.ProductSelectCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_product
    where status = 1
    <if test="query !=null and query !=''">
        and concat(`name`,`subtitle`,`detail`) like concat (concat ('%',#{query},'%'))
    </if>
    order by create_time desc
  </select>

<!--  <select id="selectAllByCondition" parameterType="com.henu.mall.request.ProductSelectCondition" resultMap="BaseResultMap">-->
<!--    select-->
<!--    <include refid="Base_Column_List" />-->
<!--    from mall_product-->
<!--    where status != 3-->
<!--    <if test="query !=null and query !=''">-->
<!--      and concat(`name`,`subtitle`,`detail`) like concat (concat ('%',#{query},'%'))-->
<!--    </if>-->
<!--    order by create_time desc-->
<!--  </select>-->
  <select id="selectAllByType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mall_product
    where status = 1
    <if test="type !=null and type !='' and type=='new'">
      and is_new = 1
    </if>
    <if test="type !=null and type !='' and type=='hot'">
      and is_hot = 1
    </if>
    order by create_time desc
  </select>
</mapper>